
<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col">
        <h1>Lista de Sedes</h1>
        <hr>
    </div>
</div>

<div class="row container">
    <div class="col-2"></div>
    <div class="col">

        <div class="row">

            <div class="col-4 mb-2"
                 *ngFor="let sede of sedes">

                <div class="card">
                    <app-mini-mapa [lngLat]="sede.lngLat" class="card-img-top"></app-mini-mapa>
                    <div class="card-body">
                        <h5 class="card-title"> {{ sede.titulo }} </h5>
                        <p class="card-text"> {{ sede.descripcion }} </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

